
<div class="container">
	<%= form_with model: @post, url: posts_path, local:true do |f| %>
    <div class="row mt-5 d-flex justify-content-center">
		  <%= f.attachment_field :image %>
		</div>
		<div class="row mt-2 d-flex justify-content-center">
		  <%= f.text_area :caption, size: "70%x2px" %>
		</div>
		<div class="row d-flex justify-content-center">
		  <%= f.submit '投稿する', class: "btn btn-primary btn-lg mt-2" %>
		</div>
	<% end %>
</div>